# ROS2 build files
build/
install/
log/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store

# Document files (proposals, reports, guidelines)
*.pdf
*.txt
!CMakeLists.txt
*.md
*.log
*.gv

# Shell scripts
start_pi_services.sh
start_system.sh















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































